div.header {
  background-color: #ffffff;
  color: #404040;
  font-size: 25px;
  font-family: Georgia, serif;
  border: 5px solid #d9d9d9;
}

#LSGI3292A {
  padding-right: 20px;
  padding-top: 10px;
  margin: 0px;
  text-align: right;
}

div.motto {
  margin: 10px;
  font-family: "Sofia";
  text-align: center;
}

#motto {
  font-size: 40px;
  margin: 0;
}

#author {
  font-size: 30px;
  margin: 0;
}

div.topnavigation {
  margin: auto;
  padding: 5px;
  width: 275px;
}

.topnav {
  padding: 7px;
  border-radius: 12px;
  background-color: #ffddcc;
  opacity: 0.8;
  font-family: "Abel";
  text-align: center;
  display: inline;
}

div.topnavigation ul {
  padding: 7px;
  margin: 2px;
}

.topnav a{
  color: white;
  text-align: center;
  padding: 7px;
}

.topnav a:hover{
  background-color: #ffccb3;
  border-radius: 12px;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

div.leftnavigation {
  background-color: #ffe6e6;
  border-radius: 3px;
  font-family: "Amatic SC";
  font-size: 30px;
  float: left;
  padding: 0px;
  margin-right: 10px;
  height: 1000px;
  width: 19%;
}

div.myprojecttitle {
  background-color: #fbd0d0;
  margin: 7px;
  padding: 13px;
  opacity: 0.8;
  border: 0.2px solid #4f4244;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
  position: sticky;
  top: 0px;
}

div.myprojecttitle:hover {
  opacity: 1;
}

div.myprojecttitle a {
  color: #404040;
}

div.myprojectcontent {
  text-align: center;
}

div.myprojectcontent p {
  padding: 10px;
}

div.myprojectcontent a {
  color: #404040;
}

div.main {
  background-image: url("watercolor.jpg");
  background-size: 100%;
  color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  font-family:  "Overlock";
  font-size: 22px;
  float: left;
  height: 1000px;
  width: 80%;
  margin-top: 5px;
}

div.personalinfo {
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  height: 200px;
}

div.info {
  float: left;
}

div.profilepic {
  float: right;
}

div.profilepic img {
  height: 200px;
  width: 200px;
  border: 2.5px solid #404040;
  border-radius: 2px;
}

div.researchinterests {
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 1.7;
}

div.bodycontainer::after {
  content: "";
  display: table;
  clear: both;
}

div.footer {
  background-color: #ffffff;
  color: #404040;
  border-top: 5px dotted #d9d9d9;
  font-size: 15px;
  font-family: Georgia, serif;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  bottom: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
}
